.receitas__ingredientes {
  margin-left: 0px;
}

.receita__passos {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@media screen and (min-width: 0) {
  .receita__passos {
    font-size: 15px;
    padding: 0 1.5rem 0 1.5rem;
  }
  .receita__passos--um::before {
    content: "１ ";
    font-size: 1.2em;
  }

  .receita__passos--dois::before {
    content: "２ ";
    font-size: 1.2em;
  }
  .receita__passos--tres::before {
    content: "３ ";
    font-size: 1.2em;
  }
  .receita__passos--quatro::before {
    content: "４ ";
    font-size: 1.2em;
  }

  .receita__passos--cinco::before {
    content: "５ ";
    font-size: 1.2em;
  }
  .receita__passos--seis::before {
    content: "６ ";
    font-size: 1.2em;
  }

  .receita__passos--sete::before {
    content: "７ ";
    font-size: 1.2em;
  }
  .receita__passos--oito::before {
    content: "８ ";
    font-size: 1.2em;
  }
  .receita__passos--nove::before {
    content: "９ ";
    font-size: 1.2em;
  }

  .receita__passos--dez::before {
    content: "１０ ";
    font-size: 1.2em;
  }
  .receita__passos--onze::before {
    content: "１１ ";
    font-size: 1.2em;
  }

  .receita__passos--doze::before {
    content: "１２ ";
    font-size: 1.2em;
  }
  .receita__passos--treze::before {
    content: "１３ ";
    font-size: 1.2em;
  }
  .receita__passos--quatorze::before {
    content: "１４ ";
    font-size: 1.2em;
  }

  .receita__passos--quinze::before {
    content: "１５ ";
    font-size: 1.2em;
  }
}

@media screen and (min-width: 768px) {
  .receita__passos {
    font-size: 16px;
    padding: 1.5rem 8rem 1.5rem 8rem;
  }

  .receita__passos:first-child {
    margin-top: 3rem;
  }
  .receita__passos:last-child {
    margin-bottom: 3rem;
  }
  .receita__passos--um::before {
    content: "１ ";
    font-size: 2em;
  }

  .receita__passos--dois::before {
    content: "２ ";
    font-size: 2em;
  }
  .receita__passos--tres::before {
    content: "３ ";
    font-size: 2em;
  }
  .receita__passos--quatro::before {
    content: "４ ";
    font-size: 2em;
  }

  .receita__passos--cinco::before {
    content: "５ ";
    font-size: 2em;
  }
  .receita__passos--seis::before {
    content: "６ ";
    font-size: 2em;
  }

  .receita__passos--sete::before {
    content: "７ ";
    font-size: 2em;
  }
  .receita__passos--oito::before {
    content: "８ ";
    font-size: 2em;
  }
  .receita__passos--nove::before {
    content: "９ ";
    font-size: 2em;
  }

  .receita__passos--dez::before {
    content: "１０ ";
    font-size: 2em;
  }
  .receita__passos--onze::before {
    content: "１１ ";
    font-size: 2em;
  }

  .receita__passos--doze::before {
    content: "１２ ";
    font-size: 2em;
  }
  .receita__passos--treze::before {
    content: "１３ ";
    font-size: 2em;
  }
  .receita__passos--quatorze::before {
    content: "１４ ";
    font-size: 2em;
  }

  .receita__passos--quinze::before {
    content: "１５ ";
    font-size: 2em;
  }
}
